/* POLAROID EFFECTS */


.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  max-width: 800px;
}

.flip-box {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-box-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box:hover .polaroid-front p {
  transition: all 0.8s;
  opacity: 0;
  color: aliceblue;
}

.polaroid-front {
  position: relative;
  background-color: lightgrey;
  flex-basis: auto;
  border: 1px solid darkgrey;
  background-color: white;
  padding: 6% 6% 15% 6%;
  box-shadow: 5px 10px 10px darkgrey;
  background-color:rgba(227,227,227, 0.3);
  background-image: repeating-linear-gradient(35deg, transparent, transparent 5px, rgba(255,255,255,.35) 5px, rgba(255,255,255,.3) 20px);
  border-radius: 7px;
  backface-visibility: hidden;
  margin-bottom: 30px;
}



.polaroid-front p {
  margin: 10px 0 0;
  padding:  0;
  content: attr(caption);
  left: 0px;
  justify-content: center;
  width: 100%;
  font-size: calc(15px + 4vw);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;

}

.polaroid-front img {
  width: 100%;
  border-style: ridge;
  border-color: rgba(227,227,227, 0.3);
  border-radius: 11px;
}

.Rating {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  bottom: 3%
}

.Rating img {
  width: 10%;
  min-width: 10px;
  border: none;
  padding: 0 10px;
}

.Rating--Star {
  filter: grayscale(100%); 
  opacity: .3; 
}

.flip-box:hover .Rating img {
  transition: all 0.8s;
  opacity: 0;
  color: rgb(144, 163, 179);
}


.polaroid-back {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgrey;
  flex-basis: auto;
  border: 1px solid darkgrey;
  background-color: white;
  padding: 6% 6% 15% 6%;
  box-shadow: 5px 10px 10px darkgrey;
  background-image: repeating-linear-gradient(35deg, transparent, transparent 5px, rgba(255,255,255,.3) 5px, rgba(255,255,255,.3) 20px);
  background-color:rgba(227,227,227, 0.3);
  border-radius: 7px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.polaroid-back img {
  position: relative;
  opacity: 0;
  width: 100%;
  border-style: ridge;
  border-color: rgba(227,227,227, 0.3);
  border-radius: 11px;
}

.polaroid-back p {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 87%;
  font-size: calc(15px + 3.5vw);
  font-family: 'Indie Flower', cursive;
}


.Rating-back {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  bottom: 3%;
  backface-visibility: hidden;
}

.Rating-back img {
  opacity: 0;
  width: 10%;
  min-width: 10px;
  border: none;
  padding: 0 10px;
  backface-visibility: hidden;
}




